/dataset
/extract-frame

models/best_CNN_fold1.pth
models/best_CNN_fold2.pth
models/best_CNN_fold3.pth
models/best_CNN_fold4.pth
models/best_CNN_fold5.pth

models/best_HYBRID_fold1.pth
models/best_HYBRID_fold2.pth
models/best_HYBRID_fold3.pth
models/best_HYBRID_fold4.pth
models/best_HYBRID_fold5.pth

models/best_LSTM_fold1.pth
models/best_LSTM_fold2.pth
models/best_LSTM_fold3.pth
models/best_LSTM_fold4.pth
models/best_LSTM_fold5.pth

models/best_RNN_fold1.pth
models/best_RNN_fold2.pth
models/best_RNN_fold3.pth
models/best_RNN_fold4.pth
models/best_RNN_fold5.pth

models/__pycache__
utils/__pycache__